---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address/?content_type=application/json&key=<mapquest_key>&location=Kenosha,%20WI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 00:08:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Kenosha,
        WI"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Kenosha","adminArea5Type":"City","adminArea4":"Kenosha
        County","adminArea4Type":"County","adminArea3":"WI","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282034154","unknownInput":"","type":"s","latLng":{"lat":42.588079,"lng":-87.822877},"displayLatLng":{"lat":42.588079,"lng":-87.822877},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=42.588079,-87.822877|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-925187014"}]}]}'
  recorded_at: Wed, 10 Aug 2022 00:08:21 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=42.588079&lon=-87.822877&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.5881,"lon":-87.8229,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660090098,"sunrise":1660042300,"sunset":1660093320,"temp":70.34,"feels_like":69.8,"pressure":1019,"humidity":58,"dew_point":54.88,"uvi":0.2,"clouds":0,"visibility":10000,"wind_speed":5.75,"wind_deg":100,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1660089600,"temp":70.34,"feels_like":69.8,"pressure":1019,"humidity":58,"dew_point":54.88,"uvi":0.2,"clouds":0,"visibility":10000,"wind_speed":4.12,"wind_deg":56,"wind_gust":5.79,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660093200,"temp":69.22,"feels_like":68.72,"pressure":1019,"humidity":61,"dew_point":55.22,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.29,"wind_deg":58,"wind_gust":4.65,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1660096800,"temp":67.8,"feels_like":67.3,"pressure":1019,"humidity":64,"dew_point":55.2,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.89,"wind_deg":51,"wind_gust":4.34,"weather":[{"id":800,"main":"Clear","d[...]
