---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address/?content_type=application/json&key=<mapquest_key>&location=Dallas,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 00:08:16 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Dallas,
        TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040340","unknownInput":"","type":"s","latLng":{"lat":32.777977,"lng":-96.796215},"displayLatLng":{"lat":32.777977,"lng":-96.796215},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=32.777977,-96.796215|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2023477006"}]}]}'
  recorded_at: Wed, 10 Aug 2022 00:08:16 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660090097,"sunrise":1660045594,"sunset":1660094332,"temp":84.61,"feels_like":93.31,"pressure":1015,"humidity":74,"dew_point":75.4,"uvi":0.39,"clouds":75,"visibility":10000,"wind_speed":3.44,"wind_deg":10,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1660089600,"temp":84.61,"feels_like":93.31,"pressure":1015,"humidity":74,"dew_point":75.4,"uvi":0.39,"clouds":75,"visibility":10000,"wind_speed":12.3,"wind_deg":98,"wind_gust":20.13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.72,"rain":{"1h":0.22}},{"dt":1660093200,"temp":84.29,"feels_like":91.8,"pressure":1015,"humidity":72,"dew_point":74.28,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":8.37,"wind_deg":142,"wind_gust":12.59,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.71},{"dt":1660096800,"temp":83.32,"feels_like":89.62,"pressure":1015,"humidity":72,"dew_point":73.35,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":7.07,"wind_deg":183,"wind_gust":10.22,"weather":[{[...]
