---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address/?content_type=application/json&key=<mapquest_key>&location=Dallas,%20TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 09 Aug 2022 23:09:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Dallas,
        TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040340","unknownInput":"","type":"s","latLng":{"lat":32.777977,"lng":-96.796215},"displayLatLng":{"lat":32.777977,"lng":-96.796215},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=32.777977,-96.796215|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1829750845"}]}]}'
  recorded_at: Tue, 09 Aug 2022 23:09:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1660086596,"sunrise":1660045594,"sunset":1660094332,"temp":84.6,"feels_like":91.44,"pressure":1015,"humidity":69,"dew_point":73.29,"uvi":1.43,"clouds":100,"visibility":10000,"wind_speed":5.75,"wind_deg":100,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"rain":{"1h":0.1}},"hourly":[{"dt":1660086000,"temp":84.6,"feels_like":91.44,"pressure":1015,"humidity":69,"dew_point":73.29,"uvi":1.43,"clouds":100,"visibility":10000,"wind_speed":13.6,"wind_deg":92,"wind_gust":12.68,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.35,"rain":{"1h":0.1}},{"dt":1660089600,"temp":85.26,"feels_like":91.8,"pressure":1015,"humidity":66,"dew_point":72.61,"uvi":0.39,"clouds":95,"visibility":10000,"wind_speed":11.9,"wind_deg":98,"wind_gust":19.6,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.33,"rain":{"1h":0.1}},{"dt":1660093200,"temp":85.98,"feels_like":92.17,"pressure":1015,"humidity":63,"dew_point":71.92,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":8.01,"wind_deg":60,"wind[...]
