---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660090095,"sunrise":1660046789,"sunset":1660097068,"temp":91.02,"feels_like":87.73,"pressure":1014,"humidity":23,"dew_point":48.11,"uvi":0.96,"clouds":38,"visibility":10000,"wind_speed":3,"wind_deg":38,"wind_gust":3,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1660089600,"temp":91.02,"feels_like":87.73,"pressure":1014,"humidity":23,"dew_point":48.11,"uvi":0.96,"clouds":38,"visibility":10000,"wind_speed":7.92,"wind_deg":104,"wind_gust":7.52,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1660093200,"temp":90.63,"feels_like":87.19,"pressure":1013,"humidity":22,"dew_point":46.6,"uvi":0.18,"clouds":32,"visibility":10000,"wind_speed":10.31,"wind_deg":122,"wind_gust":9.53,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1660096800,"temp":88.43,"feels_like":85.55,"pressure":1014,"humidity":26,"dew_point":49.21,"uvi":0,"clouds":25,"visibility":10000,"wind_speed":13.51,"wind_deg":149,"wind_gust":19.06,"weather":[{"id":8[...]
